/* Ini CSS Exsternal */

body {
  background-image: url(https://images.unsplash.com/photo-1547127796-06bb04e4b315?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  font-family: monospace;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -8px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 3px;
    background-color: grey;
}

main>header {
  text-align: center;
  color: #f2f2f2;
}

.logo-company {
    height: auto;
    width: auto;
    background-color: rgb(253, 252, 252);
    background-size: cover;
    border-radius: 50px;
}

.logo-company img {
  width: 80px;
  padding: 10px
}

nav {
    display: flex;
}

nav>a {
  border: 1px solid;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  background-color: black;
} 

.no-border-radius {
    border-radius: 0px;
}

.no-border-radius-right {
    border-top-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 4px;
}

.no-border-radius-left {
    border-top-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0px;
}

.mySlides img {
  width: 1000px;
  height: 600px;
  border-radius: 2%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 9px 1px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 200px) {
  .prev, .next,.text {font-size: 11px}
}

#our-package-section>header {
    height: 100px;
    align-content: center;
    text-align: center;
    color: #f2f2f2;
}

.our-package-content {
    display: flex;
    align-items: normal;
    height: 300px;
    justify-content: space-around;
    color: #f2f2f2;
}

.our-package-content img {
  width: 200px;
  height: 200px;
}

#contact {
  text-align: center;
  margin-top: -10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: -15px;
  height: 100px;
}

#call-us-section {
  height: 300px;
  align-content: center;
  text-align: center;
  color: #f2f2f2;
  background-color: grey;

}

.call-us-section>header {
    height: 100pxx;
    align-content: center;
    text-align: center;
    color: #f2f2f2;
}

.form {
  flex: 1 1 45rem;
  padding: 1rem 2rem;
  font-size: 15px;
  text-align: center;

}

footer {
    text-align: center;
    font-size: 15px;
    color: rgb(255, 255, 255);
}